/* Slider */
.swiper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .swiper-pagination {
    align-items: center;
    border-radius: 50px;
    border: 1px solid #dfe7ea;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 0 auto;
    max-width: fit-content;
    min-height: 24px;
    padding: 0 16px;
    position: initial;

    .swiper-pagination-bullet {
      background: #dfe7ea;
      height: 10px;
      margin: 0;
      opacity: 1;
      width: 10px;
    }

    .swiper-pagination-bullet-active {
      background: #041e50;
    }
  }

  .swiper-pagination-lock,
  .swiper-pagination:empty {
    display: none;
  }
}

/* Section Component */
.section-title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #011e41;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  > p,
  > span {
    color: #041e50;
    font-size: 14px;
    line-height: 1.5;
  }
}

/* Image With Text Columns Section */
.image-with-text-columns-section {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    > strong {
      font-weight: bold;
    }

    > em {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 12px;
    }
  }
}

/* Info Card Section */
.info-card-section {
  .info-card {
    flex-direction: column !important;

    .info-card-children {
      padding: 60px 24px !important;
      width: 100% !important;
    }

    .info-card-children:last-child {
      padding: 0 !important;

      @media screen and (max-width: 1023px) {
        img {
          max-height: 250px !important;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #303f29;
      font-size: 24px;
      font-weight: 600;
      line-height: 110%;
      margin: 0 0 8px;
      text-align: left !important;
      text-overflow: ellipsis;
      text-transform: initial;
      width: 100%;
      word-break: break-word;
    }

    p {
      color: #303f29;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left !important;
      text-overflow: ellipsis;
      width: 100%;
      word-break: break-word;
    }

    p > em {
      color: #303f29;
      display: block;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      margin: 0 0 8px;
    }
  }
}

/* Article Slider Section */
.article-slider-section {
  .swiper {
    width: 100%;
  }
}

/* Fake Review Section */
.fake-review-section {
  .section-title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin: 0 auto;
      max-width: 340px;
      text-transform: initial;
      width: 100%;
    }
  }
}

/* Responsive */
@media screen and (min-width: 1024px) {
  /* Section Component */
  .section-title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 36px;
      line-height: 43px;
      margin: 0;
    }
  }

  /* Image With Text Columns Section */
  .image-with-text-columns-section {
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      > em {
        font-size: 14px;
      }
    }
  }

  /* Info Card Section */
  .info-card-section {
    /*  Workaround for style component */
    .info-card[style*="flex-direction: row-reverse;"],
    .info-card[style*="flex-direction:row-reverse;"] {
      flex-direction: row-reverse !important;
    }

    .info-card[style*="flex-direction:row;"],
    .info-card[style*="flex-direction: row;"] {
      flex-direction: row !important;
    }
    /* End Workaround */

    .info-card {
      .info-card-children {
        padding: 40px !important;
        width: 50% !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 36px;
        margin: 0 0 16px;
        text-align: unset !important;
        width: 65%;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        text-align: end;
        text-align: unset !important;
        width: 50%;
      }

      p > em {
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 16px;
      }
    }
  }

  /* Article Slider Section */
  .article-slider-section {
    .swiper-slide {
      width: 25% !important;
    }

    .swiper-wrapper {
      transform: translate3d(12.5%, 0, 0) !important;
    }
  }

  /* Fake Review Section */
  .fake-review-section {
    .section-title {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 36px;
        max-width: unset;
      }
    }
  }
}
